* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  width: 100%;
  height: 500px;
  border-bottom: 10px solid rgb(4, 224, 7);
  margin: 0 auto;
  /* position relative, bloqueia a img dentro do width do Main de 80% */
  position: relative;
  /*  overflow hidden, tudo que está fora do meu Main width de 80% será apagado da tela */
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.mario {
  position: absolute;
  bottom: 0px;
  width: 150px;
}

.pular {
  animation: Jump 800ms ease-out;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe 1s infinite linear;
}
.clouds {
  width: 580px;
  position: absolute;
  animation: cloud 15s infinite linear;
}

.button {
  display: none;
  margin: 0 auto;
  margin-top: 200px;
  width: 240px;
  height: 80px;
  border-radius: 40px;
  background: transparent;
  justify-content:center ;
  font-size: 20px;
}

@keyframes Jump {
  0% {
    bottom: 0px;
  }
  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes cloud {
  from {
    right: -580px;
  }
  to {
    right: 100%;
  }
}

@keyframes pipe {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}
